/06Code/Physiomatic_v4.0/dist/
=======
/06Code/Physiomatic_v4.0/dist/
/06Code/PhysiomaticV1.2/build/
=======
/06Code/OOP3248FileManager/build/
/06Code/OOP3248FileManager/dist/
/06Code/OOP3248FileManager/nbproject/private/

# temporal files from Visual Paradigm
*.back
/06Code/Physiomatic_v0.9.1/dist/

# html files
*.html
/06Code/Nueva carpeta/Physiomatic_v0.9.1/nbproject/private/
/06Code/Nueva carpeta/Physiomatic_v0.9.1/build/
